<style>
    .form-control:active .input-group{
        border-color: #fff !important;
    }
</style>
<div class="bg-white tm-block" style="width: 100%; height: 100%; padding: 5%">
    <div class="row">
        <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Product</h2>
        </div>
    </div>
    <form onsubmit="return letUpload(this);" class="row mt-4 tm-edit-product-row" enctype="multipart/form-data">
        <div class="col-xl-7 col-lg-7 col-md-12">
            <div  class="tm-edit-product-form">
                <div class=" mb-3">
                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Tên sản phẩm
                    </label>
                    <input id="name" name="name" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                </div>
                <div class=" mb-3">
                    <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2 col-form-label">Mô tả</label>
                    <textarea id="description" name="description" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" required></textarea>
                </div>
                <div class=" mb-3">
                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Giá
                    </label>
                    <input id="expire_date" name="price" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                        data-large-mode="true">
                </div>
                <div class=" mb-3">
                    <label for="stock" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Số lượng sẵn có
                    </label>
                    <input id="stock" name="quantity" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7">
                </div>
                
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
            <div class="tm-product-img-dummy mx-auto">
                <i class="fas fa-5x fa-cloud-upload-alt" onclick="document.getElementById('fileInput').click();"></i>
            </div>
            <div class="custom-file mt-3 mb-3">
                <input id="fileInput" name="images" type="file" style="display:none;" multiple="true" />
                <input type="button" class="btn btn-primary" value="Upload ..." onclick="document.getElementById('fileInput').click();"/>
            </div>
        </div>
        <div class=" mb-3">
            <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                <button type="submit" name="submit" class="btn btn-primary">Thêm
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    function letUpload(form) {
    form.submit.setAttribute('disabled', 'disabled');
    form.submit.innerHTML = "Loading...";
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "add", true);
    ajax.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            form.submit.removeAttribute('disabled');
            form.submit.innerHTML = "Thêm"; 
            var response = JSON.parse(this.responseText);
            alert(response.message);
            if (response.status == "success") {    
                window.location.href = "/products/";
            } else { alert(response.message) }
        }
    };
    ajax.send(new FormData(form));
    return false;
  }
</script>